@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Bold-Italic.woff) format("woff2"),
    url(../fonts/Lato-Bold-Italic.woff2) format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Bold.woff) format("woff2"),
    url(../fonts/Lato-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.woff) format("woff2"),
    url(../fonts/Lato-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}


