@import "variables";
@import "reset";
@import "fonts";
#app {
  background-color: $back;
  font-family: Lato;
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
}

.image {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-image: url("../img/fork_app.png");
}
